// Inspired by Amit Sheen https://codepen.io/amit_sheen/pen/xxqYzvm

$speed: 25s;
$wordCount: 7;

.morphing {
    position: relative;
    font-family: 'Vollkorn SC', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    background-color: #fff;
    color: #000;
    min-height: 25vh;
    filter: contrast(25) blur(1px);
}

.word {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    animation: word $speed infinite ease-in-out;

    @for $i from 0 to $wordCount {
        &:nth-child(#{$i + 1}) {
            animation-delay: ($speed / ($wordCount + 1) * $i) - $speed;
        }
    }

    @keyframes word {
        0%, 5%, 100% { filter: blur(0px); opacity: 1; }        
        20%, 80% { filter: blur(0.4em); opacity: 0; }        
    }
}

@media only screen and (min-width: 480px) {
    .morphing {
        font-size: 75px;
    }
}

@media only screen and (min-width: 768px) {
    .morphing {
        font-size: 100px;
    }
}
